<footer class="footer">
  <div class="container-fluid">
      <div class="row text-muted">
          <div class="col-6 text-start">
              <p class="mb-0">
                  <a class="text-muted" href="#"><strong>Nunotek</strong></a>©
              </p>
          </div>
          <div class="col-6 text-end">
              <ul class="list-inline">
                  <li class="list-inline-item">
                      <a class="text-muted" href="https://t.me/+lNjUUwJvDiI1M2Y8" target="_blank">Support</a>
                  </li>

                  <!-- <li class="list-inline-item">
                      <a class="text-muted" href="https://storage.appilix.com/uploads/app-apk-64d6855ca60bc-1691780444.apk" target="_blank">Download App</a>
                  </li> -->
              </ul>
          </div>
      </div>
  </div>
</footer>