<header class="topbar" data-navbarbg="skin6">

  <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header" data-logobg="skin6">
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg>
        </a>
          <div class="navbar-brand">
              <a href="#">

                  <span class="logo-text">
                      <img src="/images/nunotek.png" width="50" height="50" style="border-radius: 50px;" alt="homepage" class="dark-logo">
                      <img src="/images/nunotek.png" width="50" height="50" style="border-radius: 50px;" class="light-logo" alt="homepage">
                  </span>
              </a>
          </div>

          <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
        </a>
      </div>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
          

          <ul class="navbar-nav float-right">
              <!-- <li class="nav-item d-none d-md-block">
                  <a class="nav-link" href="javascript:void(0)">
                      <form class="navbar-search-form" onsubmit="return false;">
                          <div class="customize-input">
                              <input class="form-control custom-shadow custom-radius border-0 bg-white" type="search" name="navbar_search" id="navbar_search" autocomplete="off" placeholder="Search" aria-label="Search">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search form-control-icon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                          </div>

                          <div id="navbar_search_result_area">
                              <ul class="navbar_search_result"></ul>
                          </div>
                      </form>
                  </a>
              </li> -->

              <!-- ============================================================== -->
              <!-- User profile and search
              .ti-menu:before {
              content: "\e68e";
              }
              -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">


                  <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://script.bugfinder.net/hyippro/goldblack/assets/uploads/admin/62e7e5ae2dfe11659364782.png" alt="user" class="rounded-circle width-40p">
                      <span class="ml-2 d-none d-lg-inline-block"><span class="text-dark">Hello,</span> <span class="text-dark">admin</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down svg-icon"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                  </a>


                  <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">

                      <!-- <a class="dropdown-item" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user align-middle"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                          <span>Profile</span>
                       </a>

                      <a class="dropdown-item" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"/></svg>
                          <span class="ml-2">Password</span>
                      </a> -->

                      <!-- <div class="dropdown-divider"></div> -->
                      <a class="dropdown-item" href="/admin-panel/logout" class="logout"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-power svg-icon mr-2 ml-1"><path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path><line x1="12" y1="2" x2="12" y2="12"></line></svg>
                        Logout
                      </a>
                      

                  </div>
              </li>


          </ul>
      </div>

  </nav>
</header>